*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*nav start*/
.nav{
	height: 3.5rem;
	background-color: black;
	padding-left: 10rem;
	padding-right: 10rem;
	padding-bottom: 0.6rem;
	padding-top: 0.3rem;
	display: flex;
	justify-content: space-between;
	font-family: 'Montserrat', sans-serif; 
}
.nav-menu{
	display: flex;
	padding: .9rem 0;

}
.nav img{
	height: auto;
	width: 15%;
}

.nav-menu i{
	color: #fff;
	padding: 0 .5rem;

}

.nav-menu a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.9rem;
	margin: 0 1.3rem;
}
/*nav end*/

/*header start*/

.header{
	background-image: url('../images/hero-img.jpg');
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	
}

.header-text{
	height: 75vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header-text h2 {
	font-size: 2.2rem;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: .5rem; 
}

.header-text h3 {
	font-size: 1.1rem;
	color: #555555;
	font-weight: 500;
	text-align: center;
	margin-bottom: 3rem;
	font-family: 'Sorts Mill Goudy', serif;
}

.btn-header {
	padding: .6rem 4rem;
	background-color: #121212;
	text-decoration: none;
	color: #fff;
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/*header end*/

/*body section start*/

.body-section{
	min-height: 45vh;
	padding: 3rem;
	margin-left: 14.5rem;
	margin-right: 14.5rem;
}

.body-section-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

.body-section-text h1{
	font-size: 2rem;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-weight: 300;
	color: #000000;
	margin-bottom: 1rem;

}
.parag-first{
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-weight: 400;
	line-height: 25px;
	color: #555555;
	margin-bottom: 1.5rem;

}

.parag-second{
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-weight: 400;
	line-height: 25px;
	color: #555555;
}

/*body section end*/

/*body section second start*/

.body-section-second{
	background-color: #111111;
	min-height: 50vh;
	display: flex;
	justify-content: space-around;
	color: white;
	align-items: center;
	padding-left: 8rem;
	padding-right: 8rem;
}

.left{
	width: 45%;
}


.right{
	width: 45%;
}

.left h1{
	font-size: 2.2rem;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-weight: 300;
	color: #fff;
	margin-top: 1rem;


}
.right h1{
	font-size: 2.2rem;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-weight: 300;
	color: #fff;
}

.second-section-first-text{
	font-size:1rem;
	font-family: 'Lato', sans-serif;
	margin-top: 1rem;
	font-weight: 300;
	line-height: 24px;
	color: #9a9a9a;
}

.second-section-second-text{
	font-size:1rem;
	font-family: 'Lato', sans-serif;
	margin-top: 1rem;
	font-weight: 300;
	line-height: 24px;
	color: #9a9a9a;
}

/*body section second end*/

/*body section third start*/
.body-section-third{
	min-height: 100vh;
	margin: 5rem;
	background-color: #fff;
}

.wrap-section{
	background-color: #dde5e5;
	display: flex;
	min-height: 80vh;
	margin: 3rem 9rem;
}

.left-section{
	width: 50%;
	padding: 3rem 0 3rem 2.5rem;
}

.right-section{
	width: 50%;
	padding: 3rem 2rem 3rem 2rem;
}

.left-section h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #000000;
}

.left-section-first p{
	font-family: 'Lato', sans-serif;
	margin-top: 1.5rem;
	font-weight: 300;
	line-height: 24px;
	color: #555555;
	text-align: justify;
}
.contact-right{
	min-height: 65vh;
	padding: 2rem;
	background-color: #111111;
}

.contact-right h1{
	font-size: 2.5rem;
	font-family: 'Sorts Mill Goudy', serif;
	font-style: italic;
	text-align: center;
	font-weight: 500;
	color: #b4b4b4;
}
.contact-right label{
	font-size: 1rem;
	display: flex;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #fff;
	margin-bottom: .5rem;
}
.contact-right input{
	border-radius: 0;
	border: none;
	height: 2.5rem;
	width: 100%;
	margin-bottom: 1.2rem;
}

.contact-right #code{
	margin-right: .4rem;
	width: 20%;
	height: 2.5rem;
}
.contact-right #number{
	width: 77.3%;
	height: 2.5rem;
}

#code{
	text-align: left;
	padding-left: .7rem;
}
#number{
	padding-left: .8rem;
}

.btn-submit{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	margin-top: .5rem;
	height: 4rem;
	width: 15rem;
	border: none;
	border-radius: 0;
	background-color: #dca114;
	color: #fff;
	font-weight: bold;
	line-height: 24px;
}
/*body section third end*/

/*start of footer*/
.footer{
	align-items: center;
	background-color: #111111;
	min-height: 10.5rem;
	display: flex;
	padding-left: 4.5rem;
	padding-right: 5rem;
	justify-content: center;
}

.footer-img{
	width: 45%;
}
.footer-img img{
	height: 9rem;
	width: auto;
}
.footer-info{
	width: 45%;
	text-align: right;
	line-height: 22px;
}

.footer-info p{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #777777;
	font-size: .7rem;	
}

/*end of footer*/

